@import "fonts.scss";
@import "normalize.scss";

$blue-dark2: #286690;
$blue-dark: #42a9ed;
$blue: #3e9cdc;
$white: #ffffff;
$black: #000000;
$gray: #6f6d7b;
$gray-light: #c4c4c4;
$gray-dark: #272733;

body {
  font-family: "Lato";
  font-weight: 400;
  color: $white;
}
main {
  min-height: 100vh;
}
.d-flex {
  display: flex;
}
.wrapper {
  width: inherit;
  padding: 0 375px;
}
/* HEADER */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(16, 16, 29, 0.9);
}
.logo-blue {
  color: $blue-dark;
}
.header__container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__container-logo {
  text-transform: uppercase;
  color: $white;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}
.header-menu-item {
  margin-right: 60px;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: $white;
  transition-duration: 0.3s;

  &:first-child {
    color: $blue-dark;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $blue;
  }
}

/* HERO */

.hero {
  margin-top: -100px;
  padding: 203px 0;
  background-image: url(/img/bg-hero.jpg);
}
.hero__container {
  flex-direction: column;
  color: $black;
}
.hero__container-title {
  max-width: 780px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.title-blue {
  color: $blue;
}
.hero__container-subtitle {
  margin-bottom: 80px;
}
.hero-subtitle-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.hero-subtitle-option {
  font-size: 20px;
  line-height: 24px;
}
.hero-btn-blue {
  display: inline-block;
  margin-right: 30px;
  padding: 12.5px 58px;
  text-transform: uppercase;
  background-color: $blue;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid $white;
  border-radius: 4px;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
.hero-btn-white {
  display: inline-block;
  padding: 12.5px 50px;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid $gray;
  border-radius: 4px;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

/* ORDER */
.order {
  background-image: url(/img/bg-order.png);
  background-color: $gray-dark;
}
.order__container {
  padding: 120px 0 152px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__container-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: $white;
  text-transform: uppercase;
}
.order__container-subtitle {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 22px;
}
.order__container-icons {
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.order-container {
  flex-direction: column;
  align-items: center;
}
.order-icons-box {
  align-items: center;
}
.order-icons-square {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  background-color: $blue;
  border: 5px solid $blue-dark2;
  border-radius: 50px;
}
.order-icons-dots {
  margin: 0 -33px 20px -33px;
}
.dot {
  margin-right: 20px;
  width: 6px;
  height: 6px;
  background-color: $gray-light;
  border-radius: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.icons-svg {
  width: 37%;
  height: 34%;
}
.order-icons-subtitle {
  max-width: 195px;
  font-size: 16px;
  line-height: 19px;
}

.select-item {
  outline: none;
  border-radius: 10px;
}

.order__container-form{
  align-items: center;
  margin-bottom: 30px;
}
.choices__placeholder {
  opacity: 1;
}
.form{
  width: 368px;
  margin-right: 30px;
  padding: 13px 10px;
  font-size: 18px;
  line-height: 22px;
  color: $gray-dark;
  background-color:rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  outline: none;
  border: none;
  &:last-child{
    margin-right: 0;
  }
  &::placeholder{
    color: $gray-dark;
  }
}
.choices__inner {
  padding-bottom: 0;
  color: $gray-dark;
  font-size: 18px;
  line-height: 22px;
  background-color:rgba(255, 255, 255, 0.85);
  z-index: 10;
  position: relative;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  &:hover {
    background-color: #f5f6f7;
  }
  &:active {
    background-color: $gray;
    border-color: transparent;
  }
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 0;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  transition-duration: 0.3s;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  z-index: 10;
  color: $blue-dark;
  background-color: $black;
}
.choices.is-focused.is-open.is-flipped
  > .choices__list.choices__list--dropdown.is-active {
  padding-top: 0;
  margin-top: 0;
}

.choices__list.choices__list--dropdown {
  border: 1px solid #3d4050;
  background-color: $black;
}

.choices__list--dropdown .choices__item {
  position: relative;
  color: $white;
  font-size: 16px;
}
.choices__list--dropdown .choices__list {
  max-height: 180px;
  overflow-y: scroll;
}

.choices[data-type*="select-one"]:after {
  z-index: 10;
  border: none;
  background-image: url(/img/choise-arrow-down.svg);
  height: 9px;
  width: 13px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  top: 40%;
  right: 14px;
}

.choices[data-type*="select-one"].is-open:after {
  background-image: url(/img/choise-arrow-up.svg);
  margin: 0;
  top: 40%;
}

.is-selected {
  display: none;
}

.is-open .choices__inner {
  padding: 0;
  border-radius: 3px;
  background-color: rgba(61, 64, 80, 0.85);
  border-color: transparent;
  color: $white;
  .choises__placeholder {
    color: $white;
  }
}

.choices__list--dropdown {
  width: 370px;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--gray);
}
.choices__list {
  padding: 2px 4px 2px 0;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #3d4050;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 10px;
  }
}
.choices__list--single {
  padding: 12px;
}
#choices--material-item-choice-1{
    display: none;
}
.choices{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 0;
}



.slidecontainer {
  max-width: 777px;
  margin-right: 22px;
}

.slider {
  -webkit-appearance: none;
  width: 777px;
  height: 6px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 3px solid $blue-dark2;
  background: $blue-dark;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slidecontainer-sub{
  margin-right: auto;
}
input[type="file"] {
  display: none;
}
.custom-file-upload{
  border: 2px solid $blue;
  display: inline-block;
  padding: 12px 97px;
  cursor: pointer;
  color: $gray-dark;
  background-color: $white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}