@import "fonts.scss";
@import "normalize.scss";

$blue-dark2: #286690;
$blue-dark: #42a9ed;
$blue: #3e9cdc;
$white: #ffffff;
$black: #000000;
$gray: #6f6d7b;
$gray-light: #c4c4c4;
$gray-dark: #272733;

body {
  font-family: "Lato";
  font-weight: 400;
  color: $white;
}
main {
  min-height: 100vh;
}
.d-flex {
  display: flex;
}
.wrapper {
  width: inherit;
  padding: 0 375px;
}
/* HEADER */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(16, 16, 29, 0.9);
}
.logo-blue {
  color: $blue-dark;
}
.header__container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__container-logo {
  text-transform: uppercase;
  color: $white;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}
.header-menu-item {
  margin-right: 60px;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: $white;
  transition-duration: 0.3s;

  &:first-child {
    color: $blue-dark;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $blue;
  }
}

/* HERO */

.hero {
  margin-top: -100px;
  padding: 203px 0;
  background-image: url(/img/bg-hero.jpg);
}
.hero__container {
  flex-direction: column;
  color: $black;
}
.hero__container-title {
  max-width: 780px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.title-blue {
  color: $blue;
}
.hero__container-subtitle {
  margin-bottom: 80px;
}
.hero-subtitle-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.hero-subtitle-option {
  font-size: 20px;
  line-height: 24px;
}
.hero-btn-blue {
  display: inline-block;
  margin-right: 30px;
  padding: 12.5px 58px;
  text-transform: uppercase;
  background-color: $blue;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid $white;
  border-radius: 4px;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
.hero-btn-white {
  display: inline-block;
  padding: 12.5px 50px;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid $gray;
  border-radius: 4px;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

/* ORDER */
.order {
  background-image: url(/img/bg-order.png);
  background-color: $gray-dark;
}
.order__container {
  padding: 120px 0 152px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__container-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: $white;
  text-transform: uppercase;
}
.order__container-subtitle {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 22px;
}
.order__container-icons {
  align-items: center;
}
.order-container {
  flex-direction: column;
  align-items: center;
}
.order-icons-box {
  align-items: center;
}
.order-icons-square {
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: $blue;
  border: 5px solid $blue-dark2;
  border-radius: 50px;
}
.order-icons-dots{
    margin: 0 -33px 20px -33px;
}
.dot {
  margin-right: 20px;
  width: 6px;
  height: 6px;
  background-color: $gray-light;
  border-radius: 10px;
  &:last-child{
    margin-right: 0;
  }
}
.icons-svg {
  width: 34px;
  height: 55px;
}
.order-icons-subtitle {
  max-width: 195px;
  font-size: 16px;
  line-height: 19px;
}
