@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-ExtraBold.woff") format("woff"), url("/fonts/Lato-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff") format("woff"), url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-SemiBold.woff") format("woff"), url("/fonts/Lato-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.woff") format("woff"), url("/fonts/Raleway.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
ul, li {
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  display: block;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template, [hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
body {
  font-family: "Lato";
  font-weight: 400;
  color: #ffffff;
}

main {
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.wrapper {
  width: inherit;
  padding: 0 375px;
}
@media (max-width: 1900px) {
  .wrapper {
    padding: 0 200px;
  }
}
@media (max-width: 1600px) {
  .wrapper {
    padding: 0 100px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 50px;
  }
}

/* HEADER */
.header {
  margin-top: -2px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(16, 16, 29, 0.9);
}

.logo-blue {
  color: #42a9ed;
}

.header__container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__container-logo {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}

.header-menu-item {
  margin-right: 60px;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
  transition-duration: 0.3s;
}
.header-menu-item:first-child {
  color: #42a9ed;
}
.header-menu-item:last-child {
  margin-right: 0;
}
.header-menu-item:hover {
  color: #3e9cdc;
}

/* HERO */
.hero {
  margin-top: -100px;
  padding: 203px 0;
  background-image: url(/img/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1600px) {
  .hero {
    padding: 160px 0;
  }
}
@media (max-width: 1200px) {
  .hero {
    padding: 150px 0 80px;
  }
}

.hero__container {
  flex-direction: column;
  color: #000000;
}

.hero__container-title {
  max-width: 780px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.title-blue {
  color: #3e9cdc;
}

.hero__container-subtitle {
  margin-bottom: 80px;
}

.hero-subtitle-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hero-subtitle-option {
  font-size: 20px;
  line-height: 24px;
}

.hero-btn-blue {
  display: inline-block;
  margin-right: 30px;
  padding: 12.5px 58px;
  text-transform: uppercase;
  background-color: #3e9cdc;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.hero-btn-blue:hover {
  transform: scale(1.1);
}

.hero-btn-white {
  display: inline-block;
  padding: 12.5px 50px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.hero-btn-white:hover {
  transform: scale(1.1);
}

/* ORDER */
.order {
  background-image: url(/img/bg-order.png);
  background-color: #272733;
}

.order__container {
  padding: 120px 0 152px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .order__container {
    padding: 70px 0 82px;
  }
}

.order__container-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  text-transform: uppercase;
}

.order__container-subtitle {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 22px;
}

.order__container-icons {
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.order-container {
  width: 198px;
  flex-direction: column;
  align-items: center;
}

.order-icons-box {
  align-items: center;
}

.order-icons-square {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  background-color: #3e9cdc;
  border: 5px solid #286690;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .order-icons-square {
    width: 50px;
    height: 50px;
  }
}

.order-icons-dots {
  margin: auto -33px 100px -33px;
}
@media (max-width: 1200px) {
  .order-icons-dots {
    margin: auto -60px 121px -60px;
  }
}

.dot {
  margin-right: 20px;
  width: 6px;
  height: 6px;
  background-color: #c4c4c4;
  border-radius: 10px;
}
.dot:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .dot:first-child, .dot :last-child {
    display: none;
  }
}

.icons-svg {
  width: 37%;
  height: 34%;
}

.order-icons-subtitle {
  max-width: 195px;
  font-size: 16px;
  line-height: 19px;
  word-break: break-word;
}
@media (max-width: 1200px) {
  .order-icons-subtitle {
    max-width: 125px;
    text-align: center;
  }
}

.select-item {
  outline: none;
  border-radius: 10px;
}

.order__container-form {
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .order__container-form {
    flex-direction: column;
  }
}

.form-top {
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .form-top {
    flex-direction: column;
  }
}

.form-bottom {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .form-bottom {
    flex-direction: column;
  }
}

.choices__placeholder {
  opacity: 1;
}

.form {
  width: 350px;
  margin-right: 30px;
  padding: 13px 10px;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  outline: none;
  border: none;
}
.form:last-child {
  margin-right: 0;
}
.form::-moz-placeholder {
  color: #272733;
}
.form::placeholder {
  color: #272733;
}
@media (max-width: 1200px) {
  .form {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.choices__inner {
  padding-bottom: 0;
  color: #272733;
  font-size: 18px;
  line-height: 22px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  position: relative;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}
.choices__inner:hover {
  background-color: #f5f6f7;
}
.choices__inner:active {
  background-color: #6f6d7b;
  border-color: transparent;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  z-index: 10;
  color: #42a9ed;
  background-color: #000000;
}

.choices.is-focused.is-open.is-flipped > .choices__list.choices__list--dropdown.is-active {
  padding-top: 0;
  margin-top: 0;
}

.choices__list.choices__list--dropdown {
  border: 1px solid #3d4050;
  background-color: #000000;
}

.choices__list--dropdown .choices__item {
  position: relative;
  color: #ffffff;
  font-size: 16px;
}

.choices__list--dropdown .choices__list {
  max-height: 180px;
  overflow-y: scroll;
}

.choices[data-type*=select-one]:after {
  z-index: 10;
  border: none;
  background-image: url(/img/choise-arrow-down.svg);
  height: 9px;
  width: 13px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  top: 40%;
  right: 14px;
}

.choices[data-type*=select-one].is-open:after {
  background-image: url(/img/choise-arrow-up.svg);
  margin: 0;
  top: 40%;
}

.is-selected {
  display: none;
}

.is-open .choices__inner {
  padding: 0;
  border-radius: 3px;
  background-color: rgba(61, 64, 80, 0.85);
  border-color: transparent;
  color: #ffffff;
}
.is-open .choices__inner .choises__placeholder {
  color: #ffffff;
}

.choices__list--dropdown {
  width: 370px;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--gray);
}

.choices__list {
  padding: 2px 4px 2px 0;
}
.choices__list::-webkit-scrollbar {
  width: 7px;
}
.choices__list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #3d4050;
}
.choices__list::-webkit-scrollbar-thumb {
  background-color: #3e9cdc;
  border-radius: 10px;
}

.choices__list--single {
  padding: 12px;
}

#choices--material-item-choice-1 {
  display: none;
}

.choices {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .choices {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.slidecontainer {
  max-width: 777px;
  margin-right: 22px;
}
@media (max-width: 1200px) {
  .slidecontainer {
    width: 370px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .slidecontainer-slide {
    margin-bottom: 10px;
  }
}

.slider {
  width: 777px;
  height: 6px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  transition: opacity 0.2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (max-width: 1200px) {
  .slider {
    width: 370px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 3px solid #286690;
  background: #42a9ed;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slidecontainer-sub {
  margin-right: auto;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  padding: 12px 97px 12px 121px;
  cursor: pointer;
  color: #272733;
  background-image: url(/img/list-black.svg);
  background-repeat: no-repeat;
  background-position: 27% 50%;
  background-color: #ffffff;
  border: 2px solid #3e9cdc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.form-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 139px;
  color: #ffffff;
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: #3D4050;
}

.footer__container {
  height: 80px;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 1900px) {
  .footer__container {
    justify-content: space-between;
  }
}

.footer__container-policy {
  margin-right: 40px;
}
@media (max-width: 1200px) {
  .footer__container-policy {
    margin-right: 15px;
  }
}

.footer__container-pay {
  padding: 0 42px 0 40px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
@media (max-width: 1200px) {
  .footer__container-pay {
    padding: 0 20px 0 20px;
  }
}

.footer-item {
  align-items: center;
  margin-right: 38px;
}
.footer-item:last-child {
  margin-right: 0;
}

.pay-svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-container-social {
  padding-left: 35px;
}
@media (max-width: 1200px) {
  .footer-container-social {
    padding-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */